
@{
    ViewBag.Title = "CreateTopic";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<h2>CreateTopic</h2>
<div class="register-top-grid">
    <h3>New Topic Information</h3>
    
        <div>
            <span>Topic Name<label>*</label></span>
            <input type="text">
            <span>Lecturer In Charge<label>*</label></span>
            <input type="text">



            <span>Description<label>*</label></span>
            <textarea name="message" rows="10" cols="63">
                (Describe your topic)
            </textarea>
            <div class="register-but">
                <form>
                    <input type="submit" value="Create">
                    <p style="float: left;">(*) thông tin bắt buộc</p>
                    <div class="clearfix"> </div>
                </form>
            </div>
        </div>
        
    

</div>
