
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Duy Tan University</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Css/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="~/Css/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Css/js/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div class="header">
        <div class="header_top">
            <div class="container">
                <div class="logo">
                    <a><img src="~/Css/images/ddt_logo.png" alt="" /></a>
                </div>
                <ul class="shopping_grid">
                    <a><li>@Html.ActionLink("Sign In", "Login")</li></a>
                </ul>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="about">
        <div class="container">
            <div class="register">
                <div class="col-md-6 login-left">
                    <h3>NEW USERS</h3>
                    <a class="acount-btn" @Html.ActionLink("Create an Account", "Register")</a>
                </div>
                <div class="col-md-6 login-right">
                    <h3>REGISTERED USERS</h3>
                    <p>If you have an account, please log in.</p>
                    <form>
                        <div>
                            <span>Username<label>*</label></span>
                            <input type="text">
                        </div>
                        <div>
                            <span>Password<label>*</label></span>
                            <input type="text">
                        </div>
                        <a class="forgot" href="#">Forgot Your Password?</a>
                        <input type="submit" value="Login">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="footer_bg">
    </div>

    <div class="footer_bottom">
        <div class="container">
            <div class="cssmenu">
                <ul>
                    <li class="active"><a href="#">Privacy Policy</a></li> .
                    <li><a href="#">Terms of Service</a></li> .
                    <li><a href="#">Creative Rights Policy</a></li> .
                    <li><a href="#">Contact Us</a></li> .
                    <li><a href="#">Support & FAQ</a></li>
                </ul>
            </div>
            <div class="copy">
                <p>Capstone 2017 by <a href="http://duytan.edu.vn/" target="_blank">Twenty</a></p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</body>
</html>		
